In [74]:
import pandas as pd
import quandl
import math
import numpy as np
from sklearn import preprocessing, svm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [56]:
df = quandl.get('WIKI/GOOGL')

In [57]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [58]:
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]

In [59]:
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100

In [60]:
df['PCT_Change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Close'] * 100

In [61]:
df = df[['Adj. Close', 'HL_PCT', 'PCT_Change', 'Adj. Volume']]

In [62]:
df.head()

            Adj. Close    HL_PCT  PCT_Change  Adj. Volume
Date
2004-08-19   50.322842  8.072956    0.323915   44659000.0
2004-08-20   54.322689  7.921706    6.739913   22834300.0
2004-08-23   54.869377  4.049360   -1.243144   18256100.0
2004-08-24   52.597363  7.657099   -6.074187   15247300.0
2004-08-25   53.164113  3.886792    1.169811    9188600.0

In [63]:
forecast_col = 'Adj. Close'
df.fillna(-99999, inplace=True)

In [64]:
forecast_out = int(math.ceil(0.01*len(df)))

In [65]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [66]:
df.head()

            Adj. Close    HL_PCT  PCT_Change  Adj. Volume      label
Date
2004-08-19   50.322842  8.072956    0.323915   44659000.0  69.078238
2004-08-20   54.322689  7.921706    6.739913   22834300.0  67.839414
2004-08-23   54.869377  4.049360   -1.243144   18256100.0  68.912727
2004-08-24   52.597363  7.657099   -6.074187   15247300.0  70.668146
2004-08-25   53.164113  3.886792    1.169811    9188600.0  71.219849

In [67]:
df.dropna(inplace=True)
df.tail()

            Adj. Close    HL_PCT  PCT_Change  Adj. Volume    label
Date
2018-01-30     1177.37  1.139829   -0.029727    1792602.0  1094.00
2018-01-31     1182.22  1.202822   -0.134493    1643877.0  1053.15
2018-02-01     1181.59  1.530988    0.473938    2774967.0  1026.55
2018-02-02     1119.20  1.798606   -0.734453    5798880.0  1054.09
2018-02-05     1068.76  5.450241   -2.980089    3742469.0  1006.94

In [68]:
X = np.array(df.drop(['label'], 1))
X

array([[ 5.03228418e+01,  8.07295560e+00,  3.23914885e-01,
         4.46590000e+07],
       [ 5.43226889e+01,  7.92170621e+00,  6.73991321e+00,
         2.28343000e+07],
       [ 5.48693765e+01,  4.04936015e+00, -1.24314442e+00,
         1.82561000e+07],
       ...,
       [ 1.18159000e+03,  1.53098791e+00,  4.73937660e-01,
         2.77496700e+06],
       [ 1.11920000e+03,  1.79860615e+00, -7.34453181e-01,
         5.79888000e+06],
       [ 1.06876000e+03,  5.45024140e+00, -2.98008908e+00,
         3.74246900e+06]])

In [69]:
y = np.array(df['label'])

In [70]:
X = preprocessing.scale(X)

In [72]:
y = np.array(df['label'])

In [73]:
print(len(X), len(y))

3389 3389

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [76]:
clf = LinearRegression()

In [78]:
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [82]:
accuracy = clf.score(X_test, y_test)

In [83]:
accuracy

0.9773863099145801

In [84]:
clf = svm.SVR()

In [85]:
clf.fit(X_train, y_train)

c:\users\user\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [86]:
clf.score(X_test, y_test)

0.8109708086286255

In [87]:
clf = svm.SVR(kernel='poly')
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

c:\users\user\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.6245680513597442

In [89]:
clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9773863099145801